*{
	padding: 0;/*se extiende borde de un lemento hacia ADENTRO*/
	margin: 0;/*se extiende borde de un lemento hacia AFUERA*/
	
	
}
body{

	background: rgba(215, 211, 211, 0.3);
	font-family: 'Poppins', sans-serif;
}

.contenedor {
	background-color: #ccc;
	width:90%;
	margin: 0 auto; 
	max-width: 1800px;/*maximo que se extiende es de 1124*/ 

	display: grid;
	grid-template-columns: repeat(2, 1fr); /* se divide en 4 columnas nuestra pagina*/
	grid-template-rows: repeat(7, auto); /* se divide en 5 filas nuestra pagina*/
	grid-gap:  0px;
	/*Podemos crear cualquier variable */
	grid-template-areas:"header header" /* Decimos que el header ocupe las 3 columnas*/
						"slider slider " /* Decimos que el nav ocupe las 3 columnas*/
						"titulo1 titulo1" /* Decimos que contenido ocupe 1 y 2columns  y slider la tercera*/
						"adopta1 adopta2" /* Decimos que  noticia 1 ocupe 1 columnas noticia 2 segunda y slider la tercera*/
						"tituloDoc tituloDoc"
						"doctor1 doctor1 "
						"sponsor sponsor"
						"footer footer"; 

}
/*--------------------------------------------------*/
/*                   hader                          */
/*--------------------------------------------------*/
.contenedor .cabeceraPrincipal{
	grid-area: header;
	background-color: #B5EF8A;
	display: flex;
	justify-content: space-between;

}
.contenedor .cabeceraPrincipal .logotipo{
	padding: 10px 40px;
}
/*---------------------------------------------*/
/*              menuPrincipal                  */
/*---------------------------------------------*/
.contenedor .cabeceraPrincipal .menuPrincipal {
	display: flex;
	align-items: center; /*centra en el bloque */
}
.menuPrincipal a {
	text-decoration: none;
	padding: 0 20px;
	transition-duration: 0.4s;
}
.menuPrincipal a:hover{
	background-color: #65524D;
	color: #fff;
}

/*---------------------------------------------*/
/*             Slider principal                */
/*---------------------------------------------*/
.contenedor .sliderPrincipal {
	grid-area: slider;
	background-color: #fff;

}
.contenedor .sliderPrincipal img {
	width: 100%;
}

/*--------------------------------------*/
/*             Adopcion                 */
/*--------------------------------------*/
.contenedor .titulo {
	grid-area: titulo1;
	text-align: center;
}
.contenedor .titulo h2 {
	font-size:32px;
	padding: 20px 0;
}
.contenedor .adopcion1, .contenedor .adopcion2 {
	grid-area: adopta1;
	display:flex;
	justify-content: space-between;
	padding:0 10px;

}
.contenedor .adopcion2 {
	grid-area: adopta2;
}
.contenedor .adopcion1 h3, .contenedor .adopcion2 h3 {
	padding: 10px 20px;
	font-size: 25px;
}
.contenedor .adopcion1 p , .contenedor .adopcion2 p{
	padding: 10px 20px;
	color: #605B5B;
	font-size: 11px;
}
/*--------------------------------------*/
/*             Doctores                 */
/*--------------------------------------*/

.contenedor .tituloDoctores{
	grid-area: tituloDoc;
	text-align: center;
}

.contenedor .doctor {
	grid-area: doctor1;
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
}
.contenedor .doctor .carDoctor{
	display: flex;
	width: 100%;
	padding: 10px 10px;
	
	
}

.contenedor .doctor .carDoctor .img1{
	width:100%;
}


/*--------------------------------------*/
/*             Sponsor                 */
/*--------------------------------------*/

.contenedor .sponsor{
	grid-area: sponsor;
	background-color: #333;
	text-align: center;
	padding: 1em 0;
}
.contenedor .sponsor h3{
	padding-bottom: 1em;
	color: #4B4B4B;
}

/*--------------------------------------*/
/*            contenido main            */
/*--------------------------------------*/
main {
	grid-area: slider;
	margin: 0 auto	;
	width: 90%;
	padding: 2em 0;
}
main h2{
	color: #817E9F;
	font-size: 2em
}
main p {
	color:#605B5B;
	font-size: 1em;
	line-height: 30px; 
}
/*--------------------------------------*/
/*             formulario               */
/*--------------------------------------*/
main .grupoinput {
	display: block;
	padding: 0.5em 0;
}
.grupoinput label{
	display: block;
	font-size:1em;
}
.grupoinput input[type=text],input[type=mail],input[type=date],input[type=number] {
	width: 90%;
	padding: 15px 20px;
	border-radius: 4px;
	border: 1px solid #ccc;

}
/*--------------------------------------*/
/*           Formulario Actualizar      */
/*--------------------------------------*/
main .grupoinputF {
	display: center;
	padding: 0.5em 0;
}
.grupoinputF label{
	display: block;
	font-size:1em;
}
.grupoinputF input[type=text],input[type=mail],input[type=date],input[type=number] {
	width: 90%;
	padding: 15px 20px;
	border-radius: 4px;
	border: 1px solid #ccc;

}
/*A todos las clases que tengan un input que tengan el atributo required
tomamos la etique label, pero no directamente sino el seudoselector after*/
.grupoinput:has(input:required, select:required) label:after{
	content: "*";
	color:red;

}
/*--------------------------------------*/
/*             Footer                   */
/*--------------------------------------*/
.contenedor .piePagina{
	grid-area: footer;
	background-color: #1B1B1B;
	display: flex;
	justify-content: space-between;
}
.contenedor .piePagina .derechos {
	padding: 2em;
	text-align: center;
}
.contenedor .piePagina .derechos h6{
	color: #A3A3A3

}
.contenedor .piePagina .derechos a{
	color: #fff;
	padding: 0 10px;
	text-decoration: none;

}
.contenedor .piePagina .redesSociales{
	padding: 2em;
	font-size: 25px;
	position: relative;
	margin: 0 20px;
	cursor: pointer;
}
.contenedor .piePagina .redesSociales a{
	color: #fff;
	padding: 0 10px;
	text-decoration: none;
	position: relative;
}
.contenedor .piePagina .fa-brans {
	font-size: 6em;
	color: #222;
}
.contenedor .piePagina a::before{
	font-family: "FontAwesone";
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	font-size: 6em;
	overflow: hidden;
	transition: 0.5s ease-in-out;

}




@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  .contenedor .sidebar {
  	display: none;
  }
  .contenedor{
  grid-template-areas:  "header header header" /* Decimos que el header ocupe las 3 columnas*/
						"nav nav nav" /* Decimos que el nav ocupe las 3 columnas*/
						"contenido contenido contenido" /* Decimos que contenido ocupe 1 y 2columns  y slider la tercera*/
						"noticia1 noticia2 sidebar" /* Decimos que  noticia 1 ocupe 1 columnas noticia 2 segunda y slider la tercera*/
						"footer footer footer"; 
					}

}

/*--------------------------------------*/
/*             Personalizados           */
/*--------------------------------------*/
.colorAzul{
	color: #8117ff;
}
.colorRojo{
	color: red;
}
.espacio{
	padding: 2em 0;
}
.mayusculas {
	text-transform: uppercase;
}


/*--------------------------------------*/
/*             Buttons                  */
/*--------------------------------------*/

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 9px;
  }
  .button1 {
	background-color: #D7F171; 
	color: #494949; 
	border: 0px solid #4CAF50;
  }
  .button:hover {
	background-color: #32cc37;
	color: white;
  }
  
  .button1:hover {
	background-color: #4CAF50;
	color: white;
  }
  .buttonDererecha {
	text-align: right;
	padding: 10px ;
}