*{
	padding: 0;
	margin: 0;
}
body{

	background-color: rgb(170,122,57,1.0);
}
h1.titulos{
	color: #ff0000
	font-family: 'Poppins' sans-serif;
}
.contenedor {
	background-color: #ccc;
	width:90%;
	margin: 0 auto; 
	max-width: 1124px;/*maximo que se extiende es de 1124*/ 

	display: grid;
	grid-template-columns: repeat(3, 1fr); /* se divide en 3 columnas nuestra pagina*/
	grid-template-rows: repeat(5, auto); /* se divide en 5 filas nuestra pagina*/
	grid-gap:  10px;
	/*Podemos crear cualquier variable */
	grid-template-areas:"header header header" /* Decimos que el header ocupe las 3 columnas*/
						"nav nav nav" /* Decimos que el nav ocupe las 3 columnas*/
						"contenido contenido sidebar" /* Decimos que contenido ocupe 1 y 2columns  y slider la tercera*/
						"noticia1 noticia2 sidebar" /* Decimos que  noticia 1 ocupe 1 columnas noticia 2 segunda y slider la tercera*/
						"footer footer footer"; 

}
.contenedor .cabeceraPrincipal{
	grid-area: header;
	background-color: yellow;
}
.contenedor .menuPrincipal{
	grid-area: nav;
	background-color: #8D99AE;
}
.contenedor .contenido {
	grid-area: contenido;
	background-color: #2b2d42;
	color: #ffffff;
	padding: 60px;

}
.contenedor .sidebar{
	grid-area: sidebar;
	background-color: #aa7bc3;
	color:#ffffff;

}
.contenedor .noticia1{
	grid-area: noticia1;
	background-color: #333;
	color:#FFFFFF;
	padding: 30px;

}
.contenedor .noticia2{
	grid-area: noticia2;
	background-color: #333;
	color:#FFFFFF;
	padding: 30px;	
}
.contenedor .piePagina{
	grid-area: footer;
	background-color: #333;
	color: #ffffff;
	text-align: center;

}

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  .contenedor .sidebar {
  	display: none;
  }
  .contenedor{
  grid-template-areas:  "header header header" /* Decimos que el header ocupe las 3 columnas*/
						"nav nav nav" /* Decimos que el nav ocupe las 3 columnas*/
						"contenido contenido contenido" /* Decimos que contenido ocupe 1 y 2columns  y slider la tercera*/
						"noticia1 noticia2 sidebar" /* Decimos que  noticia 1 ocupe 1 columnas noticia 2 segunda y slider la tercera*/
						"footer footer footer"; 
					}

}